@using Booking.viewModel;
@model SelectTypeOfRoomViewModel
@{
    ViewData["Title"] = "SelectType";
    Layout = "~/Views/Shared/_BookLayout.cshtml";
    ViewBag.User = Model.User;
    var Data = new Dictionary<string, string>
    {
        { "UserId", Model.User.Id },
        { "HotelId", $"{Model.HotelId}" },
        {"NoOfAdults",$"{Model.NoOfAdults}"},
        {"NoOfChildern",$"{Model.NoOfChildern}"},
        {"CheckIn",$"{Model.CheckIn}"},
        {"CheckOut",$"{Model.CheckOut}"},
        {"HotelName",$"{Model.HotelName}"},
        {"CityName",$"{Model.CityName}"},
        {"NoOfRooms",$"{Model.NoOfRooms}"},


    };

}


<div class="all-one">
    <div class="row">
        <form id="form" asp-action="Details" asp-controller="Booking" asp-all-route-data="Data">



            <div class="fly col-lg-12">
                <div class="row" id="main">
                    @{
                        <div class="one col-lg-12">
                            
                        </div>

                        int j = 1;
                        for (int i = 0; i < Model.NoOfRooms; i++)
                        {
                            <div class="one col-lg-6">
                                <label asp-for="BookedId[i]">RoomNo @j</label>
                            </div>
                            <div class="one col-lg-6">
                                <select asp-for="BookedId[i]">
                                    @foreach(var Room in Model.Rooms)
                                    {
                                        <option value="@Room.Id">@Room.Type Room - @Room.BedNo @Room.BedType</option>
                                    }
                                </select>
                            </div>
                            j++;

                        }    

                    }
                    
                    <div class="save col-lg-3">
                        <input type="submit" value="Confirm">
                    </div>
                    <div class="save col-lg-3">
                    </div>
                    <div class="seven col-lg-6">
                        <label><a asp-action="BookHotel" asp-controller="Booking">Go Back</a></label>
                    </div>

                </div>
            </div>

        </form>
    </div>
</div>
